# Importation des compteurs vélo / Fusion en un df / Observations

In [1]:
# Import library:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

# Définition du chemin d'accès:
### Céline
%cd C:\Users\c.doussot\Desktop\Data Analyst\GitHub\ParisPyVelib_Datas
### Hermine

### Tarik

C:\Users\c.doussot\Desktop\Data Analyst\GitHub\ParisPyVelib_Datas

In [2]:
# Si Drive est utilisé:

# from google.colab import drive
# drive.mount('/content/drive') # montage de la connexion au serveur Drive Google
# %cd /content/drive/MyDrive/ParisPyVelib/Notebook/Datas/ # définition du chemin d'accès:

In [3]:
# Import all df 
df_New = pd.read_csv('New_comptage-velo-donnees-compteurs.csv', sep = ';')
df_2020 = pd.read_csv('2020_comptage-velo-donnees-compteurs.csv', sep = ';')
df_2019 = pd.read_csv('2019_comptage-velo-donnees-compteurs.csv', sep = ';')
df_2018 = pd.read_csv('2018_comptage-velo-donnees-compteurs.csv', sep = ';')

In [4]:
# Ajout d'une colonne à df_2021 pour identifier les comptages de 2020
df_New['Année de comptage'] = df_New['Date et heure de comptage'].apply(lambda x : x[0:4])
print(df_New['Année de comptage'].unique()) # Pour vérifier qu'il y ait seulement 2020 et 2021

['2020' '2021']

In [5]:
# Suppression des données 2020
df_2021 = df_New[df_New['Année de comptage'] == '2021']
print(df_2021['Année de comptage'].unique()) # Pour vérifier qu'il ne reste seulement 2021

# Suppression de la colonne 'Année de comptage' pour garder les même colonnes que les autres df:
df_2021 = df_2021.drop('Année de comptage', axis = 1)

['2021']

In [6]:
# Create df that combine all df (col 'source' ajoutée pour identifier la provenance de la data)
df = pd.concat([df_2021.assign(Source='2021'), df_2020.assign(Source='2020'), 
                df_2019.assign(Source='2019'), df_2018.assign(Source='2018')])

# Afficher len des dfs et vérifier que len de df = somme des len des df
pd.DataFrame([{'df_2021':len(df_2021), 'df_2020':len(df_2020), 'df_2019':len(df_2019),'df_2018':len(df_2018),'df': len(df),
               'df = sum des dfs': len(df) == len(df_2021) + len(df_2020)+ len(df_2019)+ len(df_2018)}], index = ['len']).head()

     df_2021  df_2020  df_2019  df_2018       df  df = sum des dfs
len   344986   784339   436729   157825  1723879              True

- La longeur total est >2 millions de lignes, le df créé a bien pris en compte tous les df

In [7]:
# Création d'une police pour soigner l'affichage dans print
c = '\033[1m'+'\033[4m'+'\033[95m' # Bolt + Underline + Purple
e = '\033[0m' # End

# Affichage des infos des dfs
print(c+'df_2021 :'+e), print(df_2021.info()) 
print('\n'+c+'df_2020 :'+e), print(df_2020.info())
print('\n'+c+'df_2019 :'+e), print(df_2019.info())
print('\n'+c+'df_2018 :'+e), print(df_2018.info())
print('\n'+c+'df :'+e), print(df.info()) # Si je mets df.info dans un même print que le label, 
                                            # le label apparaît après au lieu de avant je comprends pas pourquoi...

df_2021 :
<class 'pandas.core.frame.DataFrame'>
Int64Index: 344986 entries, 6561 to 947056
Data columns (total 9 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Identifiant du compteur                  344986 non-null  object
 1   Nom du compteur                          344986 non-null  object
 2   Identifiant du site de comptage          344986 non-null  int64
 3   Nom du site de comptage                  344986 non-null  object
 4   Comptage horaire                         344986 non-null  float64
 5   Date et heure de comptage                344986 non-null  object
 6   Date d'installation du site de comptage  344986 non-null  object
 7   Lien vers photo du site de comptage      344986 non-null  object
 8   Coordonnées géographiques                344986 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 26.3+ MB
None

df_2020 :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784339 entries, 0 to 784338
Data columns (total 9 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Identifiant du compteur                  784339 non-null  object
 1   Nom du compteur                          784339 non-null  object
 2   Identifiant du site de comptage          784339 non-null  int64
 3   Nom du site de comptage                  784339 non-null  object
 4   Comptage horaire                         784339 non-null  float64
 5   Date et heure de comptage                784339 non-null  object
 6   Date d'installation du site de comptage  784339 non-null  object
 7   Lien vers photo du site de comptage      784339 non-null  object
 8   Coordonnées géographiques                784339 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 53.9+ MB
None

df_2019 :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436729 entries, 0 to 436728
Data columns (total 9 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Identifiant du compteur                  436729 non-null  object
 1   Nom du compteur                          436729 non-null  object
 2   Identifiant du site de comptage          436729 non-null  int64
 3   Nom du site de comptage                  436729 non-null  object
 4   Comptage horaire                         436729 non-null  int64
 5   Date et heure de comptage                436729 non-null  object
 6   Date d'installation du site de comptage  436729 non-null  object
 7   Lien vers photo du site de comptage      436729 non-null  object
 8   Coordonnées géographiques                436729 non-null  object
dtypes: int64(2), object(7)
memory usage: 30.0+ MB
None

df_2018 :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157825 entries, 0 to 157824
Data columns (total 9 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Identifiant du compteur                  157825 non-null  object
 1   Nom du compteur                          157825 non-null  object
 2   Identifiant du site de comptage          157825 non-null  int64
 3   Nom du site de comptage                  157825 non-null  object
 4   Comptage horaire                         157825 non-null  int64
 5   Date et heure de comptage                157825 non-null  object
 6   Date d'installation du site de comptage  157825 non-null  object
 7   Lien vers photo du site de comptage      157825 non-null  object
 8   Coordonnées géographiques                157825 non-null  object
dtypes: int64(2), object(7)
memory usage: 10.8+ MB
None

df :
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1723879 entries, 6561 to 157824
Data columns (total 10 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   Identifiant du compteur                  object
 1   Nom du compteur                          object
 2   Identifiant du site de comptage          int64
 3   Nom du site de comptage                  object
 4   Comptage horaire                         float64
 5   Date et heure de comptage                object
 6   Date d'installation du site de comptage  object
 7   Lien vers photo du site de comptage      object
 8   Coordonnées géographiques                object
 9   Source                                   object
dtypes: float64(1), int64(1), object(8)
memory usage: 144.7+ MB
None

(None, None)

**Observations:**
- Pas de NAN
- Pas le même nombre de données en fonction des années
    - pour 2021 c'est normal étant seulement sur 6 mois
    - Plus les années sont résentes, plus il y a de données (plus de compteurs ajoutés)
- pas de colonne Non-Null affiché pour df (je comprends pas pourquoi ???)
- Pas le même dtype en fonction des dfs pour 'Comptage horaire' (float64 ou int64)

In [8]:
# Nombre de modalités par colonne
print(c+'df_2021 :'+e, df_2021.nunique(), sep = '\n')
print(c,'df_2020 :'+e, df_2020.nunique(), sep = '\n')
print(c,'df_2019 :'+e, df_2019.nunique(), sep = '\n')
print(c,'df_2018 :'+e, df_2018.nunique(), sep = '\n')
print(c,'df :'+e, df.nunique(), sep = '\n')

df_2021 :
Identifiant du compteur                      97
Nom du compteur                              97
Identifiant du site de comptage              70
Nom du site de comptage                      70
Comptage horaire                            729
Date et heure de comptage                  3575
Date d'installation du site de comptage      36
Lien vers photo du site de comptage          70
Coordonnées géographiques                    70
dtype: int64

df_2020 :
Identifiant du compteur                      96
Nom du compteur                              96
Identifiant du site de comptage              69
Nom du site de comptage                      69
Comptage horaire                           1028
Date et heure de comptage                  8783
Date d'installation du site de comptage      35
Lien vers photo du site de comptage          69
Coordonnées géographiques                    69
dtype: int64

df_2019 :
Identifiant du compteur                      81
Nom du compteur                              81
Identifiant du site de comptage              60
Nom du site de comptage                      60
Comptage horaire                            770
Date et heure de comptage                  8736
Date d'installation du site de comptage      30
Lien vers photo du site de comptage          60
Coordonnées géographiques                    60
dtype: int64

df_2018 :
Identifiant du compteur                      45
Nom du compteur                              45
Identifiant du site de comptage              35
Nom du site de comptage                      35
Comptage horaire                            461
Date et heure de comptage                  8736
Date d'installation du site de comptage      16
Lien vers photo du site de comptage          35
Coordonnées géographiques                    35
dtype: int64

df :
Identifiant du compteur                      102
Nom du compteur                              147
Identifiant du site de comptage               71
Nom du site de comptage                      108
Comptage horaire                            1054
Date et heure de comptage                  29830
Date d'installation du site de comptage       37
Lien vers photo du site de comptage           76
Coordonnées géographiques                     90
Source                                         4
dtype: int64

**Observations:**
- Même nombre de modalités pour les colonnes dans chaque df d'origine mais différents pour le df créé:
    - 'Identifiant du compteur'/ 'Nom du compteur'
    - 'Identifiant du site de comptage'/ 'Nom du site de comptage'/ 'Lien vers photo du site de comptage'/'Coordonnées géographiques'

In [9]:
# Affichage des coordonnées uniques de df pour identifier d'éventuelles erreurs
df2 = df.sort_values(by = ['Coordonnées géographiques'], axis=0)
for i in df2['Coordonnées géographiques'].unique():
    print(i)

# Affichage des noms de compteurs uniques de df pour identifier d'éventuelles erreurs
df2 = df.sort_values(by = ['Nom du compteur'], axis=0)
for i in df2['Nom du compteur'].unique():
    print(i)

48.82024,2.35902
48.82026,2.3592
48.82108,2.32537
48.82203,2.32545
48.82636,2.30303
48.82648,2.303149
48.826503,2.38434
48.82658,2.38409
48.82682,2.38465
48.829523,2.38699
48.8295233,2.38699
48.8303305218,2.40055083752
48.830331,2.400551
48.830449,2.353199
48.83068,2.35348
48.830901,2.353237
48.83421,2.26542
48.83436,2.377
48.8344028,2.376941
48.834695,2.332968
48.83511,2.33338
48.835143,2.333031
48.83521,2.33307
48.83848,2.37587
48.83977,2.30198
48.839883,2.267099
48.83992,2.26694
48.839927,2.267151
48.84015,2.26733
48.840801,2.333233
48.84201,2.36729
48.842091,2.301
48.84216,2.30115
48.84223,2.36811
48.843435,2.383378
48.846028,2.375429
48.846099,2.375456
48.84638,2.31529
48.848399,2.275932
48.8484,2.27586
48.85013,2.35423
48.851131,2.345678
48.851525,2.343298
48.85204,2.28589
48.85209,2.28508
48.85372,2.35702
48.85735,2.35211
48.860528,2.388364
48.86057,2.38886
48.860622,2.388724
48.86077,2.372742
48.86077,2.37305
48.860852,2.372279
48.86149,2.37376
48.86155,2.37407
48.86179,2.32014
48.86282,2.31061
48.86284,2.310345
48.86288,2.31179
48.86377,2.35096
48.86378,2.32003
48.86392,2.31988
48.86451,2.40932
48.86461,2.40969
48.86462,2.31444
48.86521,2.35358
48.869831,2.307076
48.869873,2.307419
48.87451,2.29215
48.874716,2.292439
48.87746,2.35008
48.877667,2.350556
48.877686,2.354471
48.877686,2.3544712
48.877726,2.354926
48.881626,2.281203
48.88181,2.281546
48.8818100845,2.28154603106
48.88529,2.32666
48.889046,2.374872
48.88926,2.37472
48.890457,2.368852
48.890457,2.3688522
48.891215,2.38573
48.8912151,2.3857297
48.8914149,2.384954
48.891415,2.384954
48.89594,2.35953
48.896825,2.345648
48.89696,2.34538
10  avenue de la Grande Armée SE-NO
10 Bd Auguste Blanqui NE-SO
10 avenue de la Grande Armée SE-NO
10 boulevard Auguste Blanqui NE-SO
100 Rue La Fayette O-E
100 rue La Fayette O-E
102 Bd magenta SE-NO
102 boulevard de Magenta SE-NO
105 Rue La Fayette E-O
105 rue La Fayette E-O
106 Avenue Denfert Rochereau NE-SO
106 avenue Denfert Rochereau NE-SO
129 Rue Lecourbe SO-NE
129 rue Lecourbe SO-NE
132 Rue Lecourbe NE-SO
132 rue Lecourbe NE-SO
135 Avenue Daumesnil SE-NO
135 avenue Daumesnil SE-NO
147 avenue d'Italie S-N
152 Boulevard du Montparnasse E-O
152 Boulevard du Montparnasse O-E
152 boulevard du Montparnasse E-O
152 boulevard du Montparnasse O-E
16 Avenue de la Porte des Ternes E-O
16 avenue de la Porte des Ternes E-O
18 quai de l'Hôtel de Ville NO-SE
18 quai de l'Hôtel de Ville SE-NO
18 quai de l'hotel de ville NO-SE
18 quai de l'hotel de ville SE-NO
180 Avenue d'Italie N-S
180 avenue d'Italie N-S
2 avenue de la Porte de Bagnolet O-E
20 Avenue de Clichy NO-SE
20 Avenue de Clichy SE-NO
21 Boulevard Auguste Blanqui SO-NE
21 boulevard Auguste Blanqui SO-NE
21 boulevard Saint Michel S-N
243 Boulevard Saint Germain NO-SE
243 boulevard Saint Germain NO-SE
254 Rue de Vaugirard NE-SO
254 Rue de Vaugirard SO-NE
254 rue de Vaugirard NE-SO
254 rue de Vaugirard SO-NE
26 Boulevard de Ménilmontant SE-NO
26 boulevard de Ménilmontant SE-NO
27 Boulevard Diderot E-O
27 Quai de la Tournelle NO-SE
27 Quai de la Tournelle SE-NO
27 boulevard Diderot E-O
27 quai de la Tournelle NO-SE
27 quai de la Tournelle SE-NO
28 Boulevard Diderot E-O
28 Boulevard Diderot O-E
28 boulevard Diderot E-O
28 boulevard Diderot O-E
3 avenue de la Porte D'Orléans S-N
30 rue Saint Jacques N-S
33 avenue des Champs Elysées NO-SE
35 Boulevard de Menilmontant NO-SE
35 boulevard de Ménilmontant NO-SE
36 Quai de Grenelle NE-SO
36 Quai de Grenelle SO-NE
36 quai de Grenelle NE-SO
36 quai de Grenelle SO-NE
38 rue Turbigo NE-SO
38 rue Turbigo SO-NE
39 Quai François Mauriac NO-SE
39 Quai François Mauriac SE-NO
39 quai François Mauriac NO-SE
39 quai François Mauriac SE-NO
44 avenue des Champs Elysées SE-NO
6 rue Julia Bartet NE-SO
6 rue Julia Bartet SO-NE
67 boulevard Voltaire SE-NO
69 Boulevard Ornano N-S
7 Avenue de la Grande Armée NO-SE
7 avenue de la Grande Armée NO-SE
72 Avenue Flandre SO-NE
72 Bd Richard Lenoir  S-N
72 avenue de Flandre SO-NE
72 boulevard Richard Lenoir  S-N
72 boulevard Voltaire NO-SE
72 rue de la Chapelle N-S
72 rue de la Chapelle S-N
74 Boulevard Ornano S-N
77 Bd Richard Lenoir N-S
77 boulevard Richard Lenoir N-S
87 Avenue de Flandre NE-SO
87 avenue de Flandre NE-SO
89 boulevard de Magenta NO-SE
90 Rue De Sèvres NE-SO
90 Rue De Sèvres SO-NE
97 Avenue Denfert Rochereau SO-NE
97 avenue Denfert Rochereau SO-NE
Face 104 Rue d'Aubervilliers N-S
Face 104 Rue d'Aubervilliers S-N
Face 104 rue d'Aubervilliers N-S
Face 104 rue d'Aubervilliers S-N
Face au 16 Avenue de la  Porte des Ternes O-E
Face au 16 avenue de la  Porte des Ternes O-E
Face au 25 quai de l'Oise NE-SO
Face au 25 quai de l'Oise SO-NE
Face au 4 avenue de la porte de Bagnolet E-O
Face au 4 avenue de la porte de Bagnolet O-E
Face au 40 quai D'Issy NE-SO
Face au 40 quai D'Issy SO-NE
Face au 48 quai de la marne NE-SO
Face au 48 quai de la marne SO-NE
Face au 70 quai de Bercy N-S
Face au 70 quai de Bercy S-N
Face au 8 avenue de la porte de Charenton NO-SE
Face au 8 avenue de la porte de Charenton SE-NO
Pont Charles De Gaulle NE-SO
Pont Charles De Gaulle SO-NE
Pont National  NE-SO
Pont National SO-NE
Pont de Bercy NE-SO
Pont de Bercy SO-NE
Pont de la Concorde N-S
Pont de la Concorde S-N
Pont des Invalides N-S
Pont des Invalides S-N
Pont du Garigliano NO-SE
Pont du Garigliano SE-NO
Pont du Garigliano SE-NO SE-NO
Quai d'Orsay E-O
Quai d'Orsay O-E
Totem 64 Rue de Rivoli E-O
Totem 64 Rue de Rivoli O-E
Totem 73 boulevard de Sébastopol N-S
Totem 73 boulevard de Sébastopol S-N
Totem 85 quai d'Austerlitz NO-SE
Totem 85 quai d'Austerlitz SE-NO
Totem Cours la Reine E-O
Totem Cours la Reine O-E
Voie Georges Pompidou NE-SO
Voie Georges Pompidou SO-NE
face au 4 avenue de la porte de Bagnolet E-O
face au 4 avenue de la porte de Bagnolet O-E
face au 40 Quai D'Issy NE-SO
face au 40 Quai D'Issy SO-NE
face au 70 Quai de Bercy N-S
face au 70 Quai de Bercy S-N
face au 8 avenue de la porte de Charenton NO-SE
face au 8 avenue de la porte de Charenton SE-NO
pont des Invalides N-S
pont des Invalides S-N

**Observations:**
- Coordonnées: les valeurs ne sont pas arrondis au même niveau ce qui crée des doublons
    - Pour la suite il faudra faire les mêmes arrondis
- Noms de compteurs: beaucoup de doublons à cause d'écritures différentes (majuscule, espace...)

**Pour la suite il faut créer 4 col et en modifier 2 :**
- Modifier 'Nom du compteur' et 'Nom du site de comptage ' (pour tout mettre avec la même écriture et éviter les doublons)
- 'Direction' (indiquant le sens de circulation indiqué à la fin de 'Noms de compteurs')
- 'Longitude' (avec arrondi)
- 'Latitude' (avec arrondi)
- 'Coord' (reprenant longitude et latitude = coordonnées arrondies)

# Création de colonnes puis enregistrement du df obtenu

In [10]:
df.nunique()

Identifiant du compteur                      102
Nom du compteur                              147
Identifiant du site de comptage               71
Nom du site de comptage                      108
Comptage horaire                            1054
Date et heure de comptage                  29830
Date d'installation du site de comptage       37
Lien vers photo du site de comptage           76
Coordonnées géographiques                     90
Source                                         4
dtype: int64

In [11]:
# Modifier 'Nom du compteur' et 'Nom du site de comptage ' pour tout mettre à la même écriture

#Adresse en majuscule
df['Nom du compteur'] = df['Nom du compteur'].apply(lambda x : x.upper())
df['Nom du site de comptage'] = df['Nom du site de comptage'].apply(lambda x : x.upper())

#Remplacement de Boulevard par BD, Avenue par AV
df['Nom du compteur'] = df['Nom du compteur'].apply(lambda x : ' '.join([item.replace('AVENUE','AV').replace('BOULEVARD','BD').replace('HÔTEL', 'HOTEL') for item in x.split()]))
df['Nom du site de comptage'] = df['Nom du site de comptage'].apply(lambda x : ' '.join([item.replace('AVENUE','AV').replace('BOULEVARD','BD').replace('HÔTEL', 'HOTEL') for item in x.split()]))

In [12]:
# Création de la col 'Direction' indiqué à la fin de 'Noms de compteurs'
df['Direction'] = df['Nom du compteur'].apply(lambda x : x.split(' ')[-1])
df['Direction'].value_counts() # Vérification des modalités prises

NE-SO    273323
SO-NE    273201
SE-NO    265106
NO-SE    247445
E-O      186910
O-E      170132
S-N      160720
N-S      147042
Name: Direction, dtype: int64

In [13]:
# Création des colonnes 'longitude', et 'latitude'
df[['Latitude', 'Longitude']] = df['Coordonnées géographiques'].str.split(',', expand = True)

# Arrondis des coordonnées à 3 décimales
df['Latitude'] = df['Latitude'].astype('float64').round(3)
df['Longitude'] = df['Longitude'].astype('float64').round(3)

# Création de 'Coord'
df['Coord'] = df['Latitude'].astype('str') + ',' + df['Longitude'].astype('str')
df.nunique()

Identifiant du compteur                      102
Nom du compteur                              101
Identifiant du site de comptage               71
Nom du site de comptage                       76
Comptage horaire                            1054
Date et heure de comptage                  29830
Date d'installation du site de comptage       37
Lien vers photo du site de comptage           76
Coordonnées géographiques                     90
Source                                         4
Direction                                      8
Latitude                                      37
Longitude                                     52
Coord                                         63
dtype: int64

**Note :**
- Pas facile de choisir le bon arrondis:
    - si trop, plusieurs coord correspondent à une même adresse
    - si pas assez, plusieurs adresses associées aux mêmes coords
- Le meilleur compromis trouvé est d'arrondir à 3 décimales (on obtient alors 63 coordonnées pour 71 compteurs)
    - certains compteurs ont été remplacé avec le temps, dans ce cas les 2 compteurs = même Coord
    - certaines Coord englobe des compteurs N-S et S-N par exemple (pas génant pour la suite puisque identifié dans col Direction)

**Next Step:**
- Vérifier que le nombre réduit de Coord vs Identifiant site ne perdent pas d'info

In [14]:
# Identifier les identifiants ayant les même coordonnées
df2 = df[['Identifiant du site de comptage','Coord']].groupby(['Coord','Identifiant du site de comptage']).count()
df2.head(60) # Pas possible tout observer d'un coup(73 lignes), il faut faire head(60) puis tail(13)

# Identifier les coordonnées ayant les même identifiants
df3 = df[['Identifiant du site de comptage','Coord']].groupby(['Identifiant du site de comptage','Coord']).count()
df3.head(60) # Pas possible tout observer d'un coup(73 lignes), il faut faire head(60) puis tail(13)

Empty DataFrame
Columns: []
Index: [(100003096, 48.835,2.333), (100003097, 48.878,2.351), (100003098, 48.835,2.333), (100003099, 48.877,2.35), (100006300, 48.843,2.383), (100007049, 48.846,2.375), (100036718, 48.834,2.377), (100036719, 48.854,2.357), (100041488, 48.846,2.375), (100042374, 48.848,2.276), (100044493, 48.861,2.374), (100044494, 48.875,2.292), (100044495, 48.875,2.292), (100044506, 48.862,2.374), (100047533, 48.878,2.354), (100047534, 48.882,2.282), (100047535, 48.84,2.267), (100047536, 48.878,2.355), (100047537, 48.861,2.389), (100047538, 48.882,2.281), (100047539, 48.83,2.353), (100047540, 48.861,2.373), (100047541, 48.827,2.384), (100047542, 48.891,2.386), (100047544, 48.861,2.372), (100047545, 48.89,2.369), (100047546, 48.83,2.387), (100047547, 48.826,2.303), (100047548, 48.891,2.385), (100047549, 48.827,2.385), (100047550, 48.861,2.388), (100047551, 48.84,2.267), (100049407, 48.841,2.333), (100049408, 48.831,2.353), (100050132, 48.862,2.32), (100050876, 48.857,2.352), (100056032, 48.889,2.375), (100056034, 48.889,2.375), (100056036, 48.865,2.409), (100056038, 48.87,2.307), (100056039, 48.82,2.359), (100056040, 48.842,2.301), (100056041, 48.82,2.359), (100056042, 48.87,2.307), (100056044, 48.842,2.301), (100056045, 48.864,2.32), (100056046, 48.863,2.311), (100056047, 48.864,2.32), (100056223, 48.863,2.31), (100056225, 48.821,2.325), (100056225, 48.822,2.325), (100056226, 48.83,2.401), (100056326, 48.896,2.36), (100056327, 48.865,2.41), (100056329, 48.842,2.368), (100056330, 48.852,2.285), (100056330, 48.852,2.286), (100056331, 48.834,2.265), (100056332, 48.838,2.376), (100056334, 48.865,2.354)]

- D'après le tableau précédent, on observe que 10 Coords possèdent 2 Identifiants différents chacun:
    - 48.82,2.359
    - 48.835,2.333
    - 48.84,2.267
    - 48.842,2.301
    - 48.846,2.375
    - 48.861,2.388
    - 48.864,2.32
    - 48.87,2.307
    - 48.875,2.292
    - 48.889,2.375    

- 2 Identifiants possèdent 2 Coord différents chacun:
    - 100056225
    - 100056330

In [15]:
# Vérification des 2 identifiants ayant 2 coords
df2 = df[(df['Identifiant du site de comptage'] == 100056225) | (df['Identifiant du site de comptage'] == 100056330)]
df2[['Identifiant du site de comptage','Coord','Nom du compteur']].groupby(['Identifiant du site de comptage','Coord','Nom du compteur']).count()

Empty DataFrame
Columns: []
Index: [(100056225, 48.821,2.325, 3 AV DE LA PORTE D'ORLÉANS S-N), (100056225, 48.822,2.325, 3 AV DE LA PORTE D'ORLÉANS S-N), (100056330, 48.852,2.285, 36 QUAI DE GRENELLE NE-SO), (100056330, 48.852,2.285, 36 QUAI DE GRENELLE SO-NE), (100056330, 48.852,2.286, 36 QUAI DE GRENELLE NE-SO), (100056330, 48.852,2.286, 36 QUAI DE GRENELLE SO-NE)]

In [16]:
# Fusion des 2 Coords (étant la même adresse)
    # remplacer 48.822,2.325 par 48.821,2.325 et 48.852,2.286 par 48.852,2.285
df['Coord'] = df['Coord'].replace({'48.822,2.325':'48.821,2.325', '48.852,2.286': '48.852,2.285' })
    # Mise à jours des col 'latitude' et 'longitude'
df[['Latitude', 'Longitude']] = df['Coord'].str.split(',', expand = True)

df.nunique() # On avait 63 modalités dans Coords, on a bien enlevé 2 modalités

Identifiant du compteur                      102
Nom du compteur                              101
Identifiant du site de comptage               71
Nom du site de comptage                       76
Comptage horaire                            1054
Date et heure de comptage                  29830
Date d'installation du site de comptage       37
Lien vers photo du site de comptage           76
Coordonnées géographiques                     90
Source                                         4
Direction                                      8
Latitude                                      36
Longitude                                     51
Coord                                         61
dtype: int64

In [17]:
# Vérification des 10 Coord ayant 2 identifiants
df2 = df[(df['Coord'] == '48.82,2.359') | 
         (df['Coord'] == '48.835,2.333')| 
         (df['Coord'] == '48.84,2.267') |
         (df['Coord'] == '48.842,2.301') |
         (df['Coord'] == '48.846,2.375') |
         (df['Coord'] == '48.861,2.388') |
         (df['Coord'] == '48.864,2.32') |
         (df['Coord'] == '48.87,2.307') |
         (df['Coord'] == '48.875,2.292') |
         (df['Coord'] == '48.889,2.375')]    

df2[['Identifiant du site de comptage','Coord','Nom du compteur']].groupby(['Coord','Identifiant du site de comptage','Nom du compteur']).count()

Empty DataFrame
Columns: []
Index: [(48.82,2.359, 100056039, 180 AV D'ITALIE N-S), (48.82,2.359, 100056041, 147 AV D'ITALIE S-N), (48.835,2.333, 100003096, 97 AV DENFERT ROCHEREAU SO-NE), (48.835,2.333, 100003098, 106 AV DENFERT ROCHEREAU NE-SO), (48.84,2.267, 100047535, PONT DU GARIGLIANO NO-SE), (48.84,2.267, 100047551, PONT DU GARIGLIANO SE-NO), (48.84,2.267, 100047551, PONT DU GARIGLIANO SE-NO SE-NO), (48.842,2.301, 100056040, 129 RUE LECOURBE SO-NE), (48.842,2.301, 100056044, 132 RUE LECOURBE NE-SO), (48.846,2.375, 100007049, 28 BD DIDEROT E-O), (48.846,2.375, 100007049, 28 BD DIDEROT O-E), (48.846,2.375, 100041488, 27 BD DIDEROT E-O), (48.861,2.388, 100047550, 35 BD DE MENILMONTANT NO-SE), (48.861,2.388, 100065336, 35 BD DE MÉNILMONTANT NO-SE), (48.864,2.32, 100056045, PONT DE LA CONCORDE N-S), (48.864,2.32, 100056047, PONT DE LA CONCORDE S-N), (48.87,2.307, 100056038, 44 AV DES CHAMPS ELYSÉES SE-NO), (48.87,2.307, 100056042, 33 AV DES CHAMPS ELYSÉES NO-SE), (48.875,2.292, 100044494, 10 AV DE LA GRANDE ARMÉE SE-NO), (48.875,2.292, 100044495, 7 AV DE LA GRANDE ARMÉE NO-SE), (48.889,2.375, 100056032, 87 AV DE FLANDRE NE-SO), (48.889,2.375, 100056034, 72 AV DE FLANDRE SO-NE), (48.889,2.375, 100056034, 72 AV FLANDRE SO-NE)]

- Pas de problème rencontré, chaque coord correspond bien à une même localisation, seul le sens de circulation peut changer (ce qui explique un numéro de rue parfois différent)

In [18]:
# Mettre en forme date-time les col 'Date et heure de comptage' et 'Date d'installation du site de comptage'
df['Date et heure de comptage']= df['Date et heure de comptage'].str.split('+', expand= True)
df['Date et heure de comptage'] = pd.to_datetime(df['Date et heure de comptage'], format = '%Y-%m-%dT%H:%M:%S')
df['''Date d'installation du site de comptage'''] = pd.to_datetime(df['''Date d'installation du site de comptage'''], format = '%Y-%m-%d')

In [19]:
# Créer des col pour séparer date de comptage 
df['Y_Date_Count'] = df['Date et heure de comptage'].dt.year
df['M_Date_Count'] = df['Date et heure de comptage'].dt.month
df['D_Date_Count'] = df['Date et heure de comptage'].dt.day
df['Dweek_Date_Count'] = df['Date et heure de comptage'].dt.weekday # va de 0 lundi à 6 dimanche
df['H_Date_Count'] = df['Date et heure de comptage'].dt.hour

In [20]:
# Créer des col pour séparer date d'installation 
df['Y_Date_Instal'] = df['''Date d'installation du site de comptage'''].dt.year
df['M_Date_Instal'] = df['''Date d'installation du site de comptage'''].dt.month
df['D_Date_Instal'] = df['''Date d'installation du site de comptage'''].dt.day

In [21]:
# Rennomer les col pour simplifier et supprimer les espaces
df = df.rename({'Identifiant du compteur': 'Id_old',
                'Nom du compteur': 'Address_old',
                'Lien vers photo du site de comptage': 'Photo_old',
                'Coordonnées géographiques': 'Coord_old',
                'Identifiant du site de comptage': 'Id',
                'Nom du site de comptage':'Address',
                'Comptage horaire':'Count_by_hour',
                'Date et heure de comptage':'Date_count', 
                '''Date d'installation du site de comptage''':'Date_instal'}, axis = 1)

In [22]:
df = df.sort_values(by = 'Date_count')
df.index = range(len(df.index))
df.head()

,Id_old,Address_old,Id,Address,Count_by_hour,Date_count,Date_instal,Photo_old,Coord_old,Source,...,Longitude,Coord,Y_Date_Count,M_Date_Count,D_Date_Count,Dweek_Date_Count,H_Date_Count,Y_Date_Instal,M_Date_Instal,D_Date_Instal
0,100042374-110042374,VOIE GEORGES POMPIDOU NE-SO,100042374,VOIE GEORGES POMPIDOU,1.0,2018-01-01,2017-12-15,https://www.eco-visio.net/Photos/100042374/151...,"48.848399,2.275932",2018,...,2.276,"48.848,2.276",2018,1,1,0,0,2017,12,15
1,100042374-109042374,VOIE GEORGES POMPIDOU SO-NE,100042374,VOIE GEORGES POMPIDOU,0.0,2018-01-01,2017-12-15,https://www.eco-visio.net/Photos/100042374/151...,"48.848399,2.275932",2018,...,2.276,"48.848,2.276",2018,1,1,0,0,2017,12,15
2,100003098-SC,106 AV DENFERT ROCHEREAU NE-SO,100003098,106 AV DENFERT ROCHEREAU NE-SO,3.0,2018-01-01,2012-02-22,https://www.eco-visio.net/Photos/100003098/133...,"48.835143,2.333031",2018,...,2.333,"48.835,2.333",2018,1,1,0,0,2012,2,22
3,100003097-SC,105 RUE LA FAYETTE E-O,100003097,105 RUE LA FAYETTE E-O,8.0,2018-01-01,2012-02-13,https://www.eco-visio.net/Photos/100003097/157...,"48.877667,2.350556",2018,...,2.351,"48.878,2.351",2018,1,1,0,0,2012,2,13
4,100036719-103036719,18 QUAI DE L'HOTEL DE VILLE SE-NO,100036719,18 QUAI DE L'HOTEL DE VILLE,3.0,2018-01-01,2017-07-12,https://www.eco-visio.net/Photos/100036719/149...,"48.85372,2.35702",2018,...,2.357,"48.854,2.357",2018,1,1,0,0,2017,7,12

In [23]:
#Affichage du nombre de modalité par colonne du nouveau df
df.nunique()

Id_old                102
Address_old           101
Id                     71
Address                76
Count_by_hour        1054
Date_count          29830
Date_instal            37
Photo_old              76
Coord_old              90
Source                  4
Direction               8
Latitude               36
Longitude              51
Coord                  61
Y_Date_Count            4
M_Date_Count           12
D_Date_Count           31
Dweek_Date_Count        7
H_Date_Count           24
Y_Date_Instal           6
M_Date_Instal           9
D_Date_Instal          21
dtype: int64

In [24]:
df.head()

,Id_old,Address_old,Id,Address,Count_by_hour,Date_count,Date_instal,Photo_old,Coord_old,Source,...,Longitude,Coord,Y_Date_Count,M_Date_Count,D_Date_Count,Dweek_Date_Count,H_Date_Count,Y_Date_Instal,M_Date_Instal,D_Date_Instal
0,100042374-110042374,VOIE GEORGES POMPIDOU NE-SO,100042374,VOIE GEORGES POMPIDOU,1.0,2018-01-01,2017-12-15,https://www.eco-visio.net/Photos/100042374/151...,"48.848399,2.275932",2018,...,2.276,"48.848,2.276",2018,1,1,0,0,2017,12,15
1,100042374-109042374,VOIE GEORGES POMPIDOU SO-NE,100042374,VOIE GEORGES POMPIDOU,0.0,2018-01-01,2017-12-15,https://www.eco-visio.net/Photos/100042374/151...,"48.848399,2.275932",2018,...,2.276,"48.848,2.276",2018,1,1,0,0,2017,12,15
2,100003098-SC,106 AV DENFERT ROCHEREAU NE-SO,100003098,106 AV DENFERT ROCHEREAU NE-SO,3.0,2018-01-01,2012-02-22,https://www.eco-visio.net/Photos/100003098/133...,"48.835143,2.333031",2018,...,2.333,"48.835,2.333",2018,1,1,0,0,2012,2,22
3,100003097-SC,105 RUE LA FAYETTE E-O,100003097,105 RUE LA FAYETTE E-O,8.0,2018-01-01,2012-02-13,https://www.eco-visio.net/Photos/100003097/157...,"48.877667,2.350556",2018,...,2.351,"48.878,2.351",2018,1,1,0,0,2012,2,13
4,100036719-103036719,18 QUAI DE L'HOTEL DE VILLE SE-NO,100036719,18 QUAI DE L'HOTEL DE VILLE,3.0,2018-01-01,2017-07-12,https://www.eco-visio.net/Photos/100036719/149...,"48.85372,2.35702",2018,...,2.357,"48.854,2.357",2018,1,1,0,0,2017,7,12

In [25]:
# Enregister le nouveau df sous format csv
df.to_csv('2018-2021_comptage-velo-donnees-compteurs.csv')